<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="shared_header(title,links)">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <title th:replace="${title}"> Student Assistant </title>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css"/>
    <th:block th:replace="${links}" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
</html>
