<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Access Denied!</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="/">Assistant Home</a>
    </nav>
</div>
<div class="container-fluid" style="margin-top: 56px">
    <div class="jumbotron">
        <h1>ACCESS DENIED!</h1>
        <p>You are not permitted ro access this page</p>
    </div>
</div>
</body>
</html>