<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PAGE NOT FOUND</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="/">Assistant Home</a>
    </nav>
</div>
<div class="container-fluid" style="margin-top: 56px;padding-left: 0;padding-right: 0;">

    <div class="jumbotron">
        <h1>404</h1>
        <h3>PAGE NOT FOUND!</h3>
        <p>Oops! Seems like this page is lost in the echo!</p>
    </div>
</div>
</body>
</html>