html,body{
    width:100vw;

}
.form-check {
    position: relative;
    display: block;
    padding: 11px 2.55rem;
    border: 1px solid rgba(0,0,0,.125);
}
.added-courses{
    margin-top: 30px;
}
.submit{
    margin-top: 10px;
}
input[type="checkbox"]{
    margin-top: 10px;
}
.response-badge {
    line-height: 2.1;
}

@media screen and (max-width: 1280px){
    .autosize, .add-course {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow:ellipsis;
        width: 400px;
    }
    .form-check {
        padding-right: 10px;
        height: 55px;
    }
}
@media screen and (max-width: 575px){
    html,body{
        margin-top: 0;
    }
    .jumbotron {
        margin-bottom: 0;
    }
    .col-12{
        padding-bottom: 10px;
    }
    .container{
        margin-top: 20px;
    }
    .added-courses{
        margin-top: 8px;
    }
    .autosize {
        font-size: 12px;
        width:380px;
    }
    input[type="checkbox"]{
        margin-top: 6px;
    }
    .form-check{
        height: 49px;
    }
    .response-badge {
        line-height: 1.6 !important;
    }
}