html,body{
    width:100vw;

}
.form-check {
    position: relative;
    display: block;
    padding: 11px 2.55rem;
    border: 1px solid rgba(0,0,0,.125);
}
.added-courses{
    margin-top: 30px;
}
.submit{
    margin-top: 10px;
}
input[type="checkbox"]{
    margin-top: 10px;
}
.response-badge {
    line-height: 2.1;
}

@media screen and (max-width: 1280px){
    .hide-overflow {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow:ellipsis;
    }
    .form-check {
        padding-right: 10px;
        height: 55px;
    }
}

@media screen and (max-width: 575px){
    html,body{
        margin-top: 0;
    }
    .jumbotron {
        margin-bottom: 0;
    }
    .col-12{
        padding-bottom: 10px;
    }
    .container{
        margin-top: 20px;
    }
    .added-courses{
        margin-top: 8px;
    }
    .hide-overflow, .form-check > span {
        font-size: 12px;
    }
    .form-check{
        height: 48px;
    }
    .response-badge {
        padding-top: 0;
        padding-bottom: 0;
        height: 24px;
    }
    .add-course{
        height: 24px;
    }
    input[type="checkbox"]{
        margin-top: 6px;
    }
}