

@media screen and (max-width: 576px){
    html,body{
        margin-top: 0;
    }
    .img-thumbnail{
        width: 70vw !important;
    }
    .card-body > h3 {
        font-size: 4vw;
    }
    .breaks{
        display: none;
    }
    .card{
        margin-bottom: 20px;
    }
}