<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/imports::shared_header(~{::title},~{::link})">
    <meta charset="UTF-8"/>
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="/css/courses.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"/>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Add Courses</h1>
    </div>
</div>
<div th:if="${student.getProgram()==null && addCourse==true}">
    <!-- Modal -->
    <div class="modal fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="programModalTitle">Add Program</h5>
                </div>
                <div class="modal-body">
                    <h3>Please Select your program</h3>
                    <p style="color: red;">!!This will happen only once!!</p>
                    <form id="programForm" th:action="@{/student/program/}" th:object="${program}" method="post">
                        <div class="form-group">
                            <label for="college">College: </label>
                            <p type="text" readonly class="form-control-plaintext" id="college" th:text="${programs.get(0).getDepartment().getCollege().getName().name().replace('_',' ')}"></p>
                        </div>
                        <div class="form-group">
                            <label for="department">Department:</label>
                            <p type="text" readonly class="form-control-plaintext" id="department" th:text="${programs.get(0).getDepartment().getName()}"></p>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Program:</label>
                            <select class="form-control" id="exampleFormControlSelect2" th:field="*{name}">
                                <option th:each="prog : ${programs}" th:text="${prog.name}" th:value="${prog.name} "></option>
                            </select>
                        </div>
                    </form>
                </div>
                <script>
                    var submitForm = function(){
                        $('#programForm').submit();
                    };
                </script>
                <div class="modal-footer">
                    <a role="button" class="btn btn-secondary" href="/student/">Cancel</a>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div th:if="${addCourse==false && (student.getProgram()==null || student.getCourses().isEmpty())}">
    <!-- Modal -->
    <div class="modal fade" id="courseOptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CourseOptionTitle">No Courses?</h5>
                </div>
                <div class="modal-body">
                    You have not registered any courses. would you like to register your course now?
                </div>
                <div class="modal-footer">
                    <a role="button" class="btn btn-secondary" href="/student/">No</a>
                    <a role="button" class="btn btn-primary"  href="/student/course/register?add-courses=true">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>





<div th:if="${(student.getProgram()!=null && !student.getCourses().isEmpty()) || addCourse==true}" class="container-fluid">
    <div class="row">
        <div class="col-12 text-center added-courses"
             th:classappend="${listOfCoursesToBeRegistered!=null && !listOfCoursesToBeRegistered.isEmpty()?'col-md-5' : 'col-md-12'}">
            <div class="card">
                <div class="card-header">
                    Added Courses
                </div>
                <ul class="list-group list-group-flush">

                    <li  th:each="course : ${listOfRegisteredCourses}"
                         class="list-group-item d-flex justify-content-between align-items-center">

                        <span class="hide-overflow" th:text="${(course.compulsory==true?'[C] ':'[E] ')+course.code+' '+'-'+' '+course.title}"></span>
                        <span class="badge badge-pill" th:classappend="${course.semester==T(com.emmanuelirem.studentassistant.models.enums.SemesterEnum).ALPHA?'badge-danger':'badge-primary'}">
                            <a  th:href="@{'/student/courses/remove/'+${course.id}}">
                                <strong style="color: white;">X</strong>
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-7" th:if="${listOfCoursesToBeRegistered!=null && !listOfCoursesToBeRegistered.isEmpty()}">
            <h3 class="text-center"> REGISTER COURSES </h3>
            <form th:action="@{/student/course/addSelected}" th:object="${listOfSelectedCourses}" method="post">
                <div th:each="courseVariable : ${listOfCoursesToBeRegistered}" class="form-check d-flex justify-content-between">
                    <span class="add-course hide-overflow">
                    <input class="form-check-input"
                           type="checkbox"
                           th:value="${courseVariable.id}"
                           th:id="${courseVariable.getCode()}"
                           th:field="*{coursesList}"
                           th:checked="${courseVariable.compulsory}"/>
                    <label class="form-check-label"
                           th:for="${courseVariable.code}"
                           th:text="${courseVariable.code+' '+(courseVariable.compulsory==true?'- [C]':'- [E]')+' '+'-'+' '+courseVariable.title}"
                           style="width: 100%;line-height: 2;">

                    </label>
                    </span>
                    <span class="badge badge-pill response-badge"
                          th:classappend="${courseVariable.semester==T(com.emmanuelirem.studentassistant.models.enums.SemesterEnum).ALPHA?'badge-danger':'badge-primary'}"
                          th:text="${courseVariable.semester}">
                    </span>
                </div>
                <button type="submit" value="Submit" class="btn btn-info submit">Add</button>
            </form>
        </div>
    </div>
</div>

<script th:if="${student.getProgram()==null}">
    $( document ).ready( function(){
        var modal = $("#programModal");
        if (modal != null){

            modal.modal('show');
        }
    });
</script>
<script th:if="${addCourse==false && (student.getProgram()==null || student.getCourses().isEmpty())}">
    $( document ).ready( function(){
        var modal = $("#courseOptionModal");
        if (modal != null){

            modal.modal('show');
        }
    });
</script>
</body>
</html>