<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/imports::shared_header(~{::title},~{::link})}">
    <meta charset="UTF-8"/>
    <title>Lecturer Home</title>
    <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>
<body style="margin-top: 20px;">
<th:block th:insert="~{fragments/lecturerNavbar}"/>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Notify</a>
            </li>
            <li>
                <a href="#">Messages</a>
            </li>
            <li>
                <a href="#">View Courses</a>
            </li>
            <li>
                <a href="#">View Students</a>
            </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Welcome Lecturer!</h4>
                <p>Student Assitant</p>
                <hr>
                <p class="mb-0">Interact with your students in a whole new way today</p>
            </div>
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"> Expand</a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</body>
</html>
