<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/imports::shared_header(~{::title},~{::link})">
    <meta charset="UTF-8"/>
    <title>Lecturer - view course</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<th:block th:insert="~{fragments/lecturerNavbar}"/>
<div class="container-fluid">
    <div class="alert" role="alert" th:classappend="${course.students.size()==0?'alert-danger':'alert-success'}">
        <h4 class="alert-heading" th:text="${course.code+' '+course.title}"> </h4>
        <p th:text="${ 'There are '+course.students.size()+' students registered for this course'}"> </p>
        <hr>
        <p class="mb-0" th:text="${ 'This is an '+course.semester+' semester course'}"> </p>
    </div>
</div>
<br/>
<div>
    <div class="container-fluid">
        <div class="table-responsive-md">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Room</th>
                    <th scope="col">Program</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${course.students}">
                    <th scope="row" th:text="${course.students.indexOf(student)+1}"></th>
                    <td th:text="${student.firstName + ' ' + student.lastName}">Mark</td>
                    <td ><a th:href="${'mailto:'+ student.emailAddress.toLowerCase()}" th:text="${student.emailAddress}"></a></td>
                    <td th:text="${student.hallOfResidence + ' '+ student.roomNumber}"></td>
                    <td th:text="${student.program}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>