<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/imports::shared_header(~{::title},~{::link})}">
    <meta charset="UTF-8"/>
    <title>Lecturer Home</title>
    <link href="/css/simple-sidebar.css" rel="stylesheet">
</head>
<body style="margin-top: 20px;">
<th:block th:insert="~{fragments/lecturerNavbar}"/>
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!--<li>-->
                <!--<a href="#">Dashboard</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Notify</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#">Messages</a>-->
            <!--</li>-->
            <li>
                <a href="/lecturer/inOffice">in office</a>
            </li>
            <li>
                <a href="/lecturer/notAvailable">set unavailable</a>
            </li>
            <li>
                <a href="/logout">set unavailable</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="alert alert-success" role="alert" >
                <h4 class="alert-heading">Welcome Lecturer!</h4>
                <p th:if="${!lecturer.departments.isEmpty()}" th:text="${ 'you lecture in '+ lecturer.departments.size()+' department(s)'}"> </p>
                <p th:if="${lecturer.departments.isEmpty()}">Student Assitant</p>
                <hr>
                <p class="mb-0">Interact    with your students in a whole new way today</p>
                <a href="#menu-toggle" class="btn btn-sm btn-secondary" id="menu-toggle"> accessibility</a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="alert" role="alert" th:each="course: ${lecturer.courses}" th:classappend="${course.students.size()==0?'alert-danger':'alert-success'}">
               <a th:href="@{'/lecturer/courses/view/'+${course.id}}"> <h4 class="alert-heading" th:text="${course.code+' '+course.title}"> </h4> </a>
                <p th:text="${ 'There are '+course.students.size()+' students registered for this course'}"> </p>
                <hr>
                <p class="mb-0" th:text="${ 'This is an '+course.semester+' semester course'}"> </p>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</body>
</html>
