<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/imports::shared_header(~{::title},~{::link})">
    <meta charset="UTF-8"/>
    <title>Student - view course</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"/>
<div class="container-fluid">
    <div class="alert" role="alert" th:classappend="${registeredCourses.size()==0?'alert-danger':'alert-success'}">
        <h4 class="alert-heading"> Registered Courses </h4>
        <p th:text="${ 'You are registered for '+registeredCourses.size()+' courses'}"> </p>
    </div>
</div>
<br/>
<div class="container-fluid">
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Level</th>
                <th scope="col">Semester</th>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
                <th scope="col">Units</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${registeredCourses}">
                <th scope="row" th:text="${registeredCourses.indexOf(course)}"></th>
                <td th:text="${course.level}">Mark</td>
                <td th:text="${course.semester}"></td>
                <td ><a th:href="@{'/student/course/view/'+${course.id}}" th:text="${course.code}"></a></td>
                <td th:text="${course.title}"></td>
                <td th:text="${course.units}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>