<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/imports::shared_header(~{::title},~{::link})}">
    <title>Student Assistant Home</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive-calendar.css">
</head>
<body>
<th:block th:insert="~{fragments/navbar}"/>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="card-img-top img-thumbnail" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16249ef39ba%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16249ef39ba%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.1953125%22%20y%3D%2296.6%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
        </div>
        <div class="col-md-8 d-flex align-items-center">
            <div class="card-body">
                <!--<h5 class="card-title">Name:</h5>-->
                <h3 th:text="${'Name: '+loggedInStudent.lastName+' '+loggedInStudent.firstName}">Name: Irem Emmanuel John</h3>
                    <th:block th:if="${loggedInStudent.program!=null}">
                        <h3 th:if="${loggedInStudent.program.department!=null}"
                            th:text="${'College: '+loggedInStudent.program.department.college.name.name().replace('_',' ')}"></h3>

                        <h3 th:if="${loggedInStudent.program.department!=null}"
                            th:text="${'Department: '+loggedInStudent.program.department.name}">Department: Computer and Information Sciences</h3>
                    </th:block>

                <h3 th:if="${loggedInStudent.program!=null}"
                    th:text="${'Program: '+loggedInStudent.program.name}">Program: Computer Science</h3>
            </div>
        </div>
    </div>
</section>
<section class="breaks">
    <br/><br/>
    <br/><br/>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        COURSES
                    </div>
                    <div th:if="${registeredCourses.isEmpty()}" class="card-body">
                        <p class="card-text">You have not registered any courses</p>
                        <a class="btn btn-success" href="/student/courses?add-courses=true">Add Courses</a>
                    </div>
                    <ul th:if="${!registeredCourses.isEmpty()}" class="list-group list-group-flush">
                        <li  th:each="course : ${registeredCourses}"
                             class="list-group-item d-flex justify-content-between align-items-center">
                            <span th:text="${course.code+' '+'-'+' '+course.title}"></span>
                            <span class="badge badge-pill" th:classappend="${course.units>=3 ? 'badge-danger' : 'badge-info'}">
                                <strong style="color: white;" th:text="${course.units}"></strong>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        NOTIFICATIONS
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="#">CSC 411 Test on friday by 10am </a><span class="badge badge-primary badge-pill">1</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">CSC 411 Test on friday by 10am <span class="badge badge-primary badge-pill">1</span></li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">CSC 411 Test on friday by 10am <span class="badge badge-primary badge-pill">1</span></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-4">

                <div class="card">
                    <div class="card-header text-center">
                        Calendar
                    </div>
                    <!-- Responsive calendar - START -->
                    <div th:if="${loggedInStudent.program!=null}" class="responsive-calendar">
                        <div class="controls d-flex justify-content-between" th:classappend="${loggedInStudent.program.department.college.name.name()=='College_of_Science_and_Technology' ? 'cst' : 'cds'}">
                            <a  data-go="prev"><div class="btn" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;">Prev</div></a>
                            <h4><span data-head-year></span> <span data-head-month></span></h4>
                            <a  data-go="next"><div class="btn" style="-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;">Next</div></a>
                        </div>
                        <br/>
                        <div class="day-headers">
                            <div class="day header">Mon</div>
                            <div class="day header">Tue</div>
                            <div class="day header">Wed</div>
                            <div class="day header">Thu</div>
                            <div class="day header">Fri</div>
                            <div class="day header">Sat</div>
                            <div class="day header">Sun</div>
                        </div>

                        <div class="days" data-group="days"
                             th:classappend="${loggedInStudent.program.department.college.name.name()=='College_of_Science_and_Technology' ? 'cst' : 'cds'}">

                        </div>
                    </div>
                    <!-- Responsive calendar - END -->
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/responsive-calendar.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var calendar = $(".responsive-calendar");

        calendar.responsiveCalendar({
        })
    });
</script>
</body>
</html>